.header{
    .st0{fill:#FFE100;}
    .st1{fill:#ED1C24;}
    .st2{fill:#F9A01B;}
    .st3{fill:#67923D;}
    .st4{fill:#9990C5;}
    .st5{fill:#406325;}
    .st6{fill:#eab65c;}
    &__wrapp-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
        background-color: rgb(246, 244, 237);
    }
    &__wrapp-social{
        display: flex;
        gap:10px;
        align-items: center;
        padding-left: 20px;
    }
    .social {
        display: flex;
        gap: 10px;
        list-style: none;
        &__link{
            display: block;
            width: 30px;

        }
    }
    .email {
        display: flex;
        list-style: none;
        &__link {
            text-decoration: none;
            color:$balck-color;
            font-family: $regular;
            font-weight: 500;
        }
    }
    .phone {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 20px;
        list-style: none;
        &__text {
            font-style: normal;
            color:$orang-color;
            font-family: $regular;
        }
        &__number {
            font-style: normal;
            color:$balck-color;
            font-family: $regular,sans-serif;
        }
    }   
    .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        box-shadow: 0px 2px 6px rgb(188, 185, 185);
        &__link {
            padding: 10px 20px;
            text-decoration: none;
            color:$balck-color;
            font-family: $regular,sans-serif;
        }
    }

}