
$balck-color:rgb(88,88,88);
$orang-color:#eab65c;
$blue-color:rgb(55, 91, 133);
$blue-shadow:rgb(101, 132, 167);
$card-color:rgb(246, 244, 237);
$regular:"Montserrat-Regular";
$medium:"Montserrat-Medium";
$semi-bold:"Montserrat-SemiBold";
$bold:"Montserrat-Bold";